*.ipch
*.sdf
*.opendb
*.db
*.user
*.log
*.tlog

*.exe
*.dll
*.bundle
*.dylib
*.so
*.unitypackage

*.fbx
*.obj

.vs/
.idea/
_out/
_tmp/
_build_*/
cmake-build-*/
external/
Library/
Temp/
TestLocal/
TestLocal.meta

FbxExporter/*.csproj
FbxExporter/*.sln
